<h2>AC list</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <th>AC No.</th>
            <th>Name</th>
            {{#if admin}}
            <th>Report</th>
            {{/if}}
        </thead>
        <tbody>
            {{#each acs}}
                <tr>
                    <td>{{#unless ../admin}}<a href="/ac/{{acno}}">{{/unless}}{{acno}}{{#unless ../admin}}</a>{{/unless}}</td>
                    <td>{{name}}</td>
                    {{#if ../admin}}
                    <td><a href="/dr/{{acno}}">Download</a></td>
                    {{/if}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
