<style>
tr.clickableRow { cursor: pointer; }
</style>
<h2>AC list</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <th>AC No.</th>
            <th>Name</th>
            {{#if admin}}
            <th>Report</th>
            {{/if}}
        </thead>
        <tbody>
            {{#each acs}}
                <tr{{#unless ../admin}} class='clickableRow' href='/ac/{{acno}}'{{/unless}}>
                    <td>{{acno}}</td>
                    <td>{{name}}</td>
                    {{#if ../admin}}
                    <td><a href="/dr/{{acno}}">Download</a></td>
                    {{/if}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script type="text/javascript">
$(document).ready(function($) {
    $(".clickableRow").click(function() {
        window.document.location = $(this).attr("href");
    });
});
</script>
