<style>
tr.clickableRow { cursor: pointer; }
</style>
<h2>Part list</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <th>Part No.</th>
            <th>Name</th>
        </thead>
        <tbody>
            {{#each parts}}
            <tr class='clickableRow' href='/ac/{{acno}}/{{partno}}'>
                <td>{{partno}}</td>
                <td>{{partname}}</td>
                {{/each}}
            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
$(document).ready(function($) {
    $(".clickableRow").click(function() {
        window.document.location = $(this).attr("href");
    });
});
</script>
