<h2>Voter list</h2>
<div class="table-responsive">
  <table class="table">
    <tr>
      <td><b>S.No.</b></td>
      <td><b>EName</b></td>
      <td><b>House No.</b></td>
    </tr>
    {{#each voters}}
      <tr>
        <td>{{sno}}</td>
        <td>{{ename}}</td>
        <td>{{houseno}}</td>
      </tr>
    {{/each}}
  </table>
</div>
